# Passport: Facebook Oauth 設定
FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback

# Passport: Google Oauth 設定
GOOGLE_ID=SKIP
GOOGLE_SECRET=SKIP
GOOGLE_CALLBACK=http://localhost:3000/auth/google/callback

# Session Secret 設定
SESSION_SECRET=ThisIsMySecret

# MongoDB資料庫連線設定
MONGODB_URI=mongodb://localhost/restaurant

# 埠號設定
PORT=3000
