<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Howhow Restaurant</title>
    {{!-- shortcut icon --}}
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">

    {{!-- font-awesome --}}
    <script src="https://kit.fontawesome.com/750228b3da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- main.css -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <!-- navigation -->
      <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
              <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="好。吃">
              Howhow Restaurant
            </a>
            <a href="/restaurants/new"><button class="btn btn-light btn-outline-primary">新增餐廳</button></a>
        </div>
      </nav>
      <div class="banner"></div>
    </header>
    
    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}

    <!--form control-->
    <script>
      const submitButton = document.querySelector('#submitButton')
      const form  = document.querySelector('#form')

      try {
        submitButton.addEventListener('click', function onSubmitButtonClicked(event) {
          form.classList.add('was-validated')
        })
    
        form.addEventListener('submit', function formSubmitted(event) {
          if (!form.checkValidity()) {
            event.stopPropagation()
            event.preventDefault()
            alert('Form invalid')
          }
        })
      } catch {}
      
    </script>
    <!-- include javascript files here -->
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    
    <!--main.js-->
    <script src="/javascripts/main.js"></script>
  </body>
</html>